<form action="{{ formAction }}" method="POST" enctype="multipart/form-data" class="form-horizontal" role="form">
    {% if id is defined %}
        <input name="id" type="hidden" value="{{ id }}">
    {% endif %}
    <div class="form-group">
        <label for="form-user-email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input id="form-user-email" type="email" name="email" class="form-control" placeholder="you@domain.com" value="{{ email | default('') }}">
        </div>
    </div>
    {% if user is not defined %}
        <div class="form-group">
            <label for="form-user-password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input id="form-user-password" type="password" name="password" class="form-control" placeholder="Password, at least 5 characters">
            </div>
        </div>
        <div class="form-group">
            <label for="form-user-password2" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input id="form-user-password2" type="password" name="password2" class="form-control" placeholder="Password (confirm)">
            </div>
        </div>
    {% endif %}
    <div class="form-group">
        <label for="form-user-first-name" class="col-sm-2 control-label">First Name</label>
        <div class="col-sm-10">
            <input id="form-user-first-name" type="text" name="first_name" class="form-control" placeholder="First Name" value="{{ first_name | default('') }}">
        </div>
    </div>
    <div class="form-group">
        <label for="form-user-last-name" class="col-sm-2 control-label">Last Name</label>
        <div class="col-sm-10">
            <input id="form-user-last-name" type="text" name="last_name" class="form-control" placeholder="Last Name" value="{{ last_name | default('') }}">
        </div>
    </div>
    <div class="form-group">
        <label for="form-user-company" class="col-sm-2 control-label">Company</label>
        <div class="col-sm-10">
            <input id="form-user-company" type="text" name="company" class="form-control" placeholder="Company" value="{{ company | default('') }}">
        </div>
    </div>
    <div class="form-group">
        <label for="form-user-twitter" class="col-sm-2 control-label">Twitter</label>
        <div class="col-sm-10">
            <input id="form-user-twitter" type="text" name="twitter" class="form-control" placeholder="@twitter" value="{{ twitter | default('') }}">
        </div>
    </div>
    
    <div class="form-group">
        <label for="form-user-wporg" class="col-sm-2 control-label">WordPress.org username</label>
        <div class="col-sm-10">
            <input id="form-user-wporg" type="text" name="wp" class="form-control" placeholder="username" value="{{ wporg | default('') }}">
        </div>
    </div>


 <div class="form-group">
        <label for="form-user-slack" class="col-sm-2 control-label">WordPress Slack Username</label>
        <div class="col-sm-10">
            <input id="form-user-slack" type="text" name="slack" class="form-control" placeholder="@slack" value="{{ slack | default('') }}">
        </div>
    </div>

 <div class="form-group">
        <label for="form-user-gravatar" class="col-sm-2 control-label">Gravatar Email</label>
        <div class="col-sm-10">
            <input id="form-user-gravatar" type="email" name="gravatar" class="form-control" placeholder="you@domain.com" value="{{ gravatar | default('') }}">
        </div>
    </div>




	<div class="form-group">
        <label for="form-user-bio" class="col-sm-2 control-label">Speaker Bio</label>
        <div class="col-sm-10">
            <textarea id="form-user-bio" name="speaker_bio" class="form-control" placeholder="Information about you. If you are successful this is the bio that will appear on the WCEU website. Please write in third person (i.e. "Frank is a full-stack developer") and aim for around 100 words." rows="5">{{ speaker_bio | default('') }}</textarea>
            <p class="help-block">Speaker bio can be written using <a href="http://daringfireball.net/projects/markdown/basics" target="_blank">markdown</a> to support links</p>
        </div>
    </div>
    {% if site.online_conference == false %}
    <div class="form-group">
        <label for="form-user-airport" class="col-sm-2 control-label">Departing Airport Code</label>
        <div class="col-sm-10">
            <input id="form-user-airport" type="text" name="airport" class="form-control" placeholder="3 Characters" value="{{ airport | default('') }}">
        </div>
    </div>
    {% endif %}
    <div class="form-group">
        <label for="form-user-notes" class="col-sm-2 control-label">Additional Notes</label>
        <div class="col-sm-10">
            <textarea id="form-user-notes" name="speaker_info" class="form-control" placeholder=" Other information you feel the organisers should be aware of, for example accessibility requirements" rows="5">{{ speaker_info | default('') }}</textarea>
            <p class="help-block">Speaker notes can be written using <a href="http://daringfireball.net/projects/markdown/basics" target="_blank">markdown</a> to support links</p>
        </div>
    </div>
    <div class="form-group">
        <label for="form-user-photo" class="col-sm-2 control-label">Photo</label>
        <div class="col-sm-10">
            <input type="file" id="form-user-photo" name="speaker_photo" class="form-control" placeholder="Photo at least 300px wide by 300px high" accept="image/jpg, image/jpeg, image/png">
            <p class="help-block">Photo should be square, and must be at least 300px wide by 300px high. JPG and PNG are the only accepted formats.</p>
            {% if preview_photo is defined and preview_photo is not empty %}
                <img src="{{ preview_photo }}" class="profile-photo">
            {% endif %}
        </div>
    </div>
    {% if coc_link is defined and coc_link is not empty%}
    <div class="form-group">
        <label for="form-agree-coc" class="col-sm-2 control-label">Code of Conduct</label>
        <div class="col-sm-10">
            <div class="checkbox">
                <label for="form-agree-coc">
                    <input id="form-agree-coc" name="agree_coc" type="checkbox" value="agreed" > I agree to abide by the <a href="{{ coc_link }}" target="_blank">Code of conduct</a>.
                </label>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">{{ buttonInfo }}</button>
        </div>
    </div>
</form>
